<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta property="og:title" content="Personalized Nutrition Designed for Better Health & Weight Loss | Habit"/>
  <meta property="og:description" content="<%= generate_facebook_share_message(@user.referral_code) %>"/>

  <title>Habit Referral Program</title>

  <style type="text/css" >
   body,tr,th,td {
     display: block;
     font-family: arial;
   }
   .table {
     display: block;
     width: 100%;
     background-color: #ffffff;
   }
   .table-head {
     margin-top: 20px;
     display: block;
     width: 100%;
     text-align: center;
   }

   .header-image {
     width: 100%
   }

   .logo {
     margin-bottom: 10px;
   }

   tfoot {
     background-color: #F6F6F5;
     display: block;
     text-align: center;
     padding: 20px 20px;
     font-size: 10.5px;
   }

   tbody {
     display: block;
     text-align: center;
     font-size: 14px;
     padding-left: 10px;
     padding-right: 10px;
   }

   .body-header-text {
     font-weight: bold;
     font-size: 22px;
     color: #4A4A4A;
     padding: 30px 10px; 30px 10px;
     max-width: 430px;
     margin: 0 auto;
   }

   .body-main-link {
     border: 1px solid #979797;
     font-size: 20px;
     background-color: #F6F6F5;
     padding: 10px;
     color: #CBCACA;
     max-width: 340px;
   }

   .body-link-wrapper {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .social-links {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .social-icon {
     max-width: 47px;
   }

  </style>
</head>

<body style="margin: 0; padding: 0;">
  <div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
    Open for your unique Habit referral code and link.
  </div>
  <table class="table">
    <thead class="table-head">
      <tr><td><%= image_tag image_url('email/logo.png'), alt: 'Habit Logo', :class => "logo" %></td></tr>
      <tr><td><%= image_tag image_url('email/header-image.jpg'), alt: 'Habit Header', :class => "header-image" %></td></tr>
    </thead>

    <tbody>
      <tr>
        <td class="body-header-text">You’ll get a $25 Amazon gift card for each friend who completes a purchase.</td>
        <td class="body-message-text">Forward this unique promo code <%= @user.referral_code %> and link to your friends:</td>
        <td class="body-link-wrapper"><input class="body-main-link" disabled type="text" value="<%= referral_link(@user.referral_code) %>" /></td>
        <td>Or share online:</td>
        <td>
          <tr>
            <td class="social-links">
              <a href="http://twitter.com/share?url=<%= referral_link(@user.referral_code) %>&text=<%= CGI::escape(generate_twitter_share_message(@user.referral_code)) %>" target="_blank"> <%= image_tag image_url('email/twitter-social.jpg'), :class => "social-icon" %></a> &nbsp;
              <a href="http://www.facebook.com/sharer/sharer.php?u=<%= referral_link(@user.referral_code) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Habit" target="_blank"><%= image_tag image_url('email/facebook-social.jpg'), :class => "social-icon" %></a>
            </td>
          </tr>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td class="habit-address">Habit, LLC,  985 3rd Street Oakland, CA 94607</td>
        <td class="habit-copy">Copyright © 2017 Habit, LLC, All rights reserved.</td>
        <td class="habit-unsubscribe"><a href="#">Unsubscribe</a> or <a href="#">Manage Preferences</a></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
