<!-- Hero -->
<div class="hero">
  <div class="page-content">
    <%= render "users/habit_logo" %>
    <div class="hero-headline-wrapper">
      <h1><%= I18n.t('homepage.header') %></h1>
      <p><%= I18n.t('homepage.subheader') %></p>
    </div>
  </div>
</div>
<!-- Email Form/CAMPAIGN ENDED -->
<div class="form-wrapper <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
