<!-- Header -->
<div class="header">
  <div class="content">
    <div class="header-content">
      <a href="https://habit.com" target="_blank"><div class="habit-logo"></div></a>
    </div>
    <div class="header-content">
      <p>Thank you for signing up!</p>
    </div>
  </div>
</div>
<!-- Hero -->
<div class="hero">
  <div class="page-content clearfix">
    <!-- <div class=""> -->
      <div class="hero-headline-wrapper">
        <h1>Share Habit,<br>Get Rewarded</h1>
        <p class="hero-headline">Share your unique promo code <%= @user.referral_code %> and the link below via email, Facebook or Twitter and earn a $25 Amazon eGift Card* for each friend who purchases a Habit kit.</p>
      </div>
    <!-- </div> -->
      <div class="share-wrapper">
<!--         <p>Share your unique link via email, Facebook<br>or Twitter and earn an Amazon eGift Card<br>each friend who purchases a Habit kit.</p> -->
        <div class="copy-link-wrapper">
          <div class="copy-link">
            <span><%= referral_link(@user.referral_code) %></span>
          </div>
          <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
          <div class="social-links">
            <%= social_share_button_tag(@facebook_share_message,
                                        :url => referral_link(@user.referral_code),
                                        :desc => @facebook_share_message,
                                        :image => image_url('refer/social.jpg'),
                                        :'data-twitter-title' => @twitter_share_message,
                                        :'data-facebook-title' => @facebook_share_message,
                                        :'data-source' => image_url('refer/social.jpg'),
                                        :'data-caption' => image_url('refer/social.jpg'),
            ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>

<!-- Prizes -->
<div class="prizes">
  <div class="page-content">
    <h2>How It Works</h2>

    <div class="progress-wrapper">
      <ul class="clearfix">
        <li class="title">
          <div class="prize-data">
            <p>FRIENDS PURCHASED</p>
          </div>
          <div class="progress-bottom prize-data">
            <p> &#36;&#36; RECIEVED</p>
          </div>
        </li>

        <% stops.each do |stop| %>
          <li class="product  <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
            <div class="prize-data">
              <div class="circle"><%= stop["count_label"] %></div>
            </div>
            <div class="progress-bottom prize-data">
              <p><%= stop["html"].html_safe %></p>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="progress">
        <div class="mover">
          <div class="bar clearfix"></div>
        </div>
      </div>
    </div>

    <div class="progress-wrapper-mobile">
      <ul class="progress">
        <li class="product">
          <div class="prize-data">
            &#36;&#36; RECIEVED
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-bar first grayed"></div>
          </div>
          <div class="progress-data">
            FRIENDS PURCHASED
          </div>
        </li>
        <% stops.each_with_index do |stop, index| %>
          <li class="product">
            <div class="prize-data">
              <div class="circle"><%= stop["count_label"] %></div>
            </div>
            <div class="progress-bar-wrapper">
              <div class="progress-bar grayed <% if index+1 == User::REFERRAL_STEPS.count %> last<%end%>"></div>
            </div>
            <div class="progress-data">
              <p><%= stop["html"].html_safe %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      else
        words = 'friends have'
      end
    %>

    <div class="count-wrapper">
      <% if referrals_count != 0 %>
        <p><%= referrals_count %> <%= words %> joined!</p>
      <% end %>
      <p class="check">Keep checking</p>
    </div>

    <div class="terms">
      <p>Need more details? <%= link_to "Terms and Conditions", terms_path, {:style => 'text-decoration: underline'} %></p>
    </div>

    <div class="amazon-footer" >
      <p>
        * Referred friends must use your personal link when purchasing the service, and must be new customers to Habit. An <a href="https://amazon.com" target="_blank">Amazon.com</a> Gift Card (the "Reward") is earned when a kit is shipped to the referred customer: <a href="https://amazon.com" target="_blank">Amazon.com</a> is not a sponsor of this promotion. Except as required by law, <a href="https://amazon.com" target="_blank">Amazon.com</a> Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods at <a href="https://amazon.com" target="_blank">Amazon.com</a> or certain of its affiliated websites. For complete terms and conditions, see www.amazon.com/gc-legal. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon ®, ™ & © are IP of <a href="https://amazon.com" target="_blank">Amazon.com</a>, Inc. or its affiliates. No expiration date or service fees.
      </p>
    </div>

  </div>
</div>
